.popup #name {
    font-size: 25px;
    display: block;
}

.popup #location {
  display: block;
}

section {
  display: inline;
}

.popup {
  width: 160px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 8px;
  position: absolute;
  z-index: 1;
  left: 50%;
  margin-left: -80px;
}

.station {
  position: relative;
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
